# .net5 obj and bin folder
DangerZoneCoordinatesApi/obj
DangerZoneCoordinatesApi/bin
PostureLogApi/obj
PostureLogApi/bin
PostureRecognitionAPI/obj
PostureRecognitionAPI/bin
node_modules
my-app/public/posture_video_recording
