# Python Files
*.pyc
# landmark data
neural_network/posture_log_file/landmark_data.txt
# pycharm files
.idea
# YOLO model .cfg & .weights files
*.cfg
*.weights
# opencv_CUDA_enable build and install folder
opencv_CUDA_enable/build
opencv_CUDA_enable/install
