.video-container {
    float: left;;
    width: 23%;
    height: 25%;
    margin-right: 2%;
}

.video-size {
    float: left;
    width: 100%;
    height: 100%;
}

.video-text {
    float: left;
    align-self:flex-end;
    vertical-align:text-bottom;
}