.text-dropdown{
    display:flex; 
    flex-direction:row;
}

.dropdown1{
    margin-left: auto; 
}

.text{
    font-family: "Times New Roman", Times, serif;
    font-weight: 1000;
    font-size: 35px;
}